@page "/fetchdataslow"

<h1>LIVE Weather forecast page</h1>

<p>This component demonstrates fetching data from an external API service.</p>

<Forecast Delay="1" />
<Forecast Delay="8"/>
<Forecast Delay="16"/>